body {
    margin: 0;
    padding: 0;
  }
  
ul.container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding: 2px;
}

  
img {
    width: calc(17% - 4px);
}

img.gray {
	filter: grayscale(1);
	cursor: default;
}

img.index {
  display: block;
  width: 100%;
  height: auto;
}

figure {
  width: 125px;
}
figcaption {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 600px) {
    img {
      width: calc(50% - 2px);
    }
}

table {
  border-collapse: collapse;
}

td {
  padding: 0px;
}

