body {
    margin: 0;
    padding: 0;
  }
  
ul.container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding: 2px;
}

  
img {
    width: calc(17% - 4px);
}

img.gray {
	filter: grayscale(1);
	cursor: default;
}

@media (max-width: 600px) {
    img {
      width: calc(50% - 2px);
    }
}

